<h1>Списък с въпроси в <%= link_to @quiz.name, @quiz %></h1>

<table>
  <tr>
    <th><%= Question.human_attribute_name :title %></th>
    <th><%= Question.human_attribute_name :position %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.position %></td>
    <td><%= link_to 'Преглед', quiz_question_path(@quiz, question) %></td>
    <td><%= link_to 'Редакция', edit_quiz_question_path(@quiz, question) %></td>
    <td><%= link_to 'Изтриване', quiz_question_path(@quiz, question), confirm: 'Моля, потвърдете изтриването на този елемент.', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Нов въпрос', new_quiz_question_path(@quiz) %>
