<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Position:</b>
  <%= @question.position %>
</p>


<%= link_to 'Edit', edit_quiz_question_path(@quiz, @question) %> |
<%= link_to 'Back', quiz_questions_path(@quiz) %>
