<h1>Списък с въпросници</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Име</th>
    <th>Въпроси</th>
    <th colspan="3">Действия</th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.id %></td>
    <td><%= quiz.name %></td>
    <td><%= link_to pluralize(quiz.questions.size, 'въпрос',  'въпроса'), quiz_questions_path(quiz) %></td>
    <td><%= link_to 'Преглед', quiz %></td>
    <td><%= link_to 'Редактирай', edit_quiz_path(quiz) %></td>
    <td><%= link_to 'Изтриване', quiz, confirm: 'Моля, потвърдете изтриването на този елемент.', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Нов въпросник', new_quiz_path %>
