<%= title_for @quiz %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= Quiz.human_attribute_name :name %>:</b>
  <%= @quiz.name %>
</p>


<%= link_to 'Редакция', edit_quiz_path(@quiz) %> |
<%= link_to 'Обратно', quizzes_path %>
